@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('fondo.jpg');
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("images/computer.jpg");
  z-index: -1;
}

#caja-login {
  width: 450px;
  background: #bbc0be85;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
}

#caja-login h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #ffffffbb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #96badd;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

#caja-login p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

#caja-login a {
  color: white;
  text-decoration: none;
}

#caja-login a:hover {
  color: white;
  text-decoration: underline;
}

.send-button {
  padding: 15px 25px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid rgb(52, 89, 124);
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

.send-button:hover {
  background-position: right;
  color: white;
  font-weight: 700;
}

/* Footer */

.footer {
  background-color: #1D293F;
  margin-top: 185px;
}

.footer__copy {
  padding: 25px;
  text-align: center;
  color: #fff;
}

.footer__copyright {
  font-weight: 300px;
}

.footer__icons {
  margin-bottom: 10px;
}

.footer__img {
  width: 30px;
}

#btnSalir{
  display: none;
  font-size: 18.5px;
  font-weight: bold;
  color: #fff;
  border: none;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}